.fade-enter-active[data-v-1fefd64e],.fade-leave-active[data-v-1fefd64e]{transition:opacity .1s ease,transform .1s ease}.fade-enter-from[data-v-1fefd64e],.fade-leave-to[data-v-1fefd64e]{opacity:0;transform:translateY(-5px)}
